@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="container-fluid">
                <div class="align-middle system-name font-weight-bold">System Name</div>
            </div>
            <LoginDisplay/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>