<AuthorizeView>
    <Authorized>
        <strong>User: @context.User.Identity.Name</strong>
        <a href="signout">Sign Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="signin?redirectUri=/">Sign In</a>
    </NotAuthorized>
</AuthorizeView>